# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
.build/
dist/
build/
.venv/
venv/
.env
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# Artifacts
SHA256SUMS
*.sig
*.minisig
*.spdx.json
